

.artwork-title {
    font-size:large;
    margin-top:4rem;
    margin-bottom:3rem;
    
}

.artwork-link {
    font-size:large;
    margin-top:2rem;
    margin-bottom:2rem;
    
}


.artwork-link-spacing {
    margin-top:3rem;
    margin-bottom:3rem;

}