

.artwork-title {
    font-size:large;
    margin-top:4rem;
    margin-bottom:3rem;
    text-align: center;
    
}

.artwork-link {
    font-size:large;
    margin-top:2rem;
    margin-bottom:2rem;
    text-align: center;
    
    
}


.artwork-link-spacing {
    margin-top:3rem;
    margin-bottom:3rem;
    text-align: center;
    

}

.buttonShow{
    text-align: center;
   
}